#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.header {
  border: 3px solid pink;
  margin: 10px;
  padding: 5px;
}

.nav {
  border: 3px solid red;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.home {
  border: 3px solid purple;
  margin: 10px;
  padding: 5px;
}

.review-list {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-card-container {
  background: #faedcc;
  padding: 2rem;
  margin: 1rem;
  flex-basis: calc(33.33% - 2rem);
  display: flex;
  flex-direction: column;
}

.review-card-container .review-card {
  flex-grow: 1;
}

.review-img {
  width: 300px;
  height: auto;
}

.category-list {
  border: 3px solid green;
  margin: 10px;
  padding: 5px;
}

.single-review-img {
  width: 500px;
  height: auto;
}

.comment-list {
  border: 3px solid grey;
  margin: 10px;
  padding: 5px;
}

.comment-card-container {
  background: #fff7e4;
  padding: 0.5rem;
  margin: 1rem;
}

.upvote-button {
  background-color: #4CAF50;
  margin: 10px;
}

.downvote-button {
  background-color: #ff0000;
  margin: 10px;
}

ul {
  padding: 0;
}

@media (max-width: 600px) {
  .single-review-img {
    width: 100%;
  }
}